{% extends 'base.html.twig' %}


{% block body %}



<div class="container">
    <div class="row">
        <h1>{{categorie.nom}}</h1>
    
        {% for sc in categorie.sousCategories %}

            <div class="col-6 text-center ">
                <div class="m-1 vignette">
                    <a href="/souscategorie/{{ sc.id }}">
                        {{ sc.nom }}
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>
</div>
{% endblock %}
