{% extends 'base.html.twig' %}


{% block body %}



<div class="container">
    <div class="row">
    <h1>{{produit.nom}}</h1>
    <p>{{produit.prix}}</p>
    <p>{{produit.description}}</p>

            

    <a href="/add/{{produit.id}}" class="btn btn-success">Ajouter au panier</a>
    </div>
</div>
{% endblock %}
