{% extends 'base.html.twig' %}


{% block body %}



<div class="container">
    <div class="row">
    <h1>{{sousCategorie.nom}}</h1>
    
        {% for pr in sousCategorie.produits %}

            <div class="col-12  text-center ">
                <div class="m-1 vignette">
                    <a href="/produit/{{ pr.id }}">
                        {{ pr.nom }}
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>
</div>
{% endblock %}
